* {
  margin: 0;
  padding: 0;
}
#leFt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#riGth {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pageAll {
  background: url(./landing/images/arcades.jpeg) ;
}
#gameAll {
  height: 700px;
  width: 800px;
  background-color:transparent;
  margin: auto;
}
#pictureL {
  display: flex;
  justify-content: flex-start;
}
.game1 {
  border: white solid 2px;
  height: 250px;
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px purple;
}
#gameTop {
  height: 300px;
  width: 800px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#gameTop :hover {
  height: 260px;
  width: 210px;
}
#gameBot {
  height: 300px;
  width: 800px;
  background: transparent;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#gameBot :hover {
  height: 260px;
  width: 210px;
}
.game2 {
  border: white solid 2px;
  height: 250px;
  width: 200px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px purple;
}
#name {
  color: white;
  font-size: 30px;
}
#copyRigth {
  color: white;
  text-align: center;
  
}
#message {
    color: rgb(38, 40, 189);
}
