/* this is makeing all the sides touch the corners */
* {
  margin: 0;
  padding: 0;
}
/* this is the hole site and is changing background to an image */
body {
  display: flex;
  background: url(../landing/images/black\ space.jpeg) no-repeat center center
    fixed;
  background-size: cover;
  flex-direction: column;
  align-content: space-evenly;
}
/* this is saying asteroid defence and changing the text to white */
#naMe {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: default;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* this is makeing 9 divs and makeing them in a line and compact */
#allSquare {
  height: 600px;
  width: 800px;
  margin: auto;
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
/* this is giveing the divs border but transparent */
.square {
  border: 2px solid transparent;
  height: 150px;
  /* border: 2px solid white; */
  width: 150px;
  margin: 15px;
}
/* this is the image of the asteroid and  */
.square.astro {
  background: url("../landing/images/asteroid.jpeg") center;
  top: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.square.explosion {
  background: url("../landing/images/pngaaa.com-893477.png") center no-repeat;
  top: 100%;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
#scores,
#times {
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
  cursor: default;
}
#top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 250px;
  padding-top: 15px;
}
#top button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  left: 0;
}
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
  cursor: default;
}
.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25em 0.5em;
  cursor: pointer;
}
.winning-message button:hover {
  background-color: black;
  border-color: white;
  color: white;
}
.winning-message.show {
  display: flex;
}
