* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  background: url(../landing/images/sun.jpeg) no-repeat center center fixed;
  background-color: black;
  background-size: cover;
  flex-direction: column;
  align-content: space-evenly;
}
#Name {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
#back button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
#back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* the spin start */
.main {
  width: 230px;
  height: 230px;
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #0ff0fc;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 35s linear infinite;
}
.circle1 {
  width: 40px;
  height: 40px;
  background: #6600ff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle1 30s linear infinite;
}
.circle2 {
  width: 75px;
  height: 75px;
  background: #21fc0d;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle2 24s linear infinite;
}
.circle3 {
  width: 50px;
  height: 50px;
  background: #ffae42;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle3 20s linear infinite;
}
.circle4 {
  width: 50px;
  height: 50px;
  background: #0D11F6 ;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle4 15s linear infinite;
}.circle5 {
  width: 40px;
  height: 40px;
  background: #c47926;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle5 12s linear infinite;
}.circle6 {
  width: 25px;
  height: 25px;
  background: #ff073a;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle6 6s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-480px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-480px) rotate(-360deg);
  }
}
@keyframes circle1 {
  0% {
    transform: rotate(120deg) translate(-425px) rotate(120deg);
  }
  100% {
    transform: rotate(520deg) translate(-425px) rotate(-520deg);
  }
}
@keyframes circle2 {
  0% {
    transform: rotate(200deg) translate(-370px) rotate(200deg);
  }
  100% {
    transform: rotate(560deg) translate(-370px) rotate(-560deg);
  }
}
@keyframes circle3 {
  0% {
    transform: rotate(320deg) translate(-315px) rotate(320deg);
  }
  100% {
    transform: rotate(780deg) translate(-315px) rotate(-780deg);
  }
}
@keyframes circle4 {
  0% {
    transform: rotate(80deg) translate(-260px) rotate(80deg);
  }
  100% {
    transform: rotate(440deg) translate(-260px) rotate(-440deg);
  }
}
@keyframes circle5 {
  0% {
    transform: rotate(60deg) translate(-205px) rotate(60deg);
  }
  100% {
    transform: rotate(420deg) translate(-205px) rotate(-420deg);
  }
}
@keyframes circle6 {
  0% {
    transform: rotate(40deg) translate(-150px) rotate(40deg);
  }
  100% {
    transform: rotate(400deg) translate(-150px) rotate(-400deg);
  }
}
#start {
  height: 100px;
  width: 100px;
  font-family: "Press Start 2P", cursive;
  background-color: transparent;
  border: transparent;
  color: white;
  padding-right: 15px;
}
